.custom-node {
    background-image: linear-gradient(157deg, #8f00ff, #0038ff 80%);
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.custom-node__header {
    font-family: 'Space Mono';
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 2px;
}

.division-line {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.option .division-line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-node__select-header {
    font-size: 9px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.custom-node__input-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
    font-weight: bold;
}

.custom-node__input-title-units {
    text-transform: lowercase;
    font-weight: normal;
    font-style: italic;
    font-size: 7px;
}

.custom-node__input-value {
    color: #222;
    background-color: #fff;
    padding: 2px 0;
    width: 20px;
    border-radius: 4px;
}

.option .custom-node__input-value {
    background-image: linear-gradient(157deg, #b41804, #f50 80%);
    color: #fff;
    width: 32px;
    font-size: 7px;
}

.custom-node__input-value-text {
    font-family: 'Space Mono';
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.custom-node__input-value-labels {
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    margin: 4px 0 -8px;
}

.custom-node__input-actual-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 12px;
    padding: 2px;
    margin-left: 6px;
    border: 0.02rem solid #222222;
    border-radius: 4px;
}

.custom-node__input-actual-value div {
    font-size: 8px;
    font-weight: bold;
}

.custom-node.option,
.custom-node.results {
    background-image: none;
    background-color: #fff;
    color: #222222;
    border: 1px solid #f50;
}

.results .custom-node__header {
    text-align: center;
    font-size: 18px;
}

.custom-node__result {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.custom-node__result-label {
    font-family: 'Space Mono';
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.custom-node__result-score {
    margin-left: 20px;
}

.custom-node.winner {
    background-image: linear-gradient(157deg, #1ecbbb, #0038ff 90%);
}

.winner .custom-node__header {
    font-size: 18px;
    text-align: center;
    padding: 12px 16px;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    margin: 0;

    /*  styling the track  */
    height: 4px;
    background: #f50;
    border-radius: 16px;
    border: 0.02rem solid #fff;
}

.option input[type="range"] {
    border: 0.02rem solid #222222;
}

input[type="range"]::-ms-track {
    background: #fff;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background: #fff;
    border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
    height: 4px;
    background: #fff;
    border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 10px;
    width: 10px;
    background-color: #f50;
    border-radius: 50%;
    border: 1px solid #f50;
    margin-top: -3px;
    transition: all .3s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background-color: #f50;
    border-radius: 50%;
    border: 1px solid #f50;
    transition: all .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 3px rgba(255, 85, 0, .1)
}

input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 6px rgba(255, 85, 0, .2)
}

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 3px rgba(255, 85, 0, .1)
}

input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 6px rgba(255, 85, 0, .2)
}

input[type="range" i] {
    margin: 0px;
}